:root {
    /* Base Colors */
    --primary-lightest: #feffff;
    --primary: #00FFFF;
    --primary-darkest: #003e3e;
    
    --secondary-lightest: #ebe1ff;
    --secondary: #5500FF;
    --secondary-darkest: #1d0056;

    --base-text-color: #4d4d4d;

    /* Foreground, Background, borders */
    --white: var(--primary-lightest);
	--black: var(--secondary-darkest);

    --background: #f5f5f5;
    
    --foreground-muted: #eeeeee;
    
    --foreground-white: var(--white);
    --foreground: #F6F7F9;
    --foreground-black: var(--black);

    /* --border: #e6e7e9; */
    --border: #ddd;

    /* Base Styles */
    --padding-1: 8px;
    --padding-2: 16px;
    --padding-3: 32px;

    --border-1: 2px;
	--border-2: 4px;
	--border-3: 6px;

    --b-r-1: 4px; 
    --b-r-2: 10px;
    --b-r-3: 20px;

    --border-color: var(--border);  

    /* CONTENT */
    --content-padding: var(--padding-2);

    /* BITES */
	--bite-width: 600px;
    --bite-height: 400px;

    /*  */
	--input-height: 50px;
	--input-height-tall: 170px;
	--input-height-max: 500px;
	--input-padding: 10px;
}