:root {
    /* Base Colors */
    --primary-lightest: #feffff;
    --primary: #00FFFF;
    
    --secondary: #5500FF;

    /* assign to other vars */
    --white: var(--primary-lightest);
	--black: var(--secondary-darkest);

    --background-white: var(--white);
    --background: #F6F7F9;
    --background-black: var(--black);
    
    --foreground: var(--primary-lightest);

    /* Base Styles */
    --padding-1: 8px;
    --padding-2: 16px;
    --padding-3: 32px;

    --border-1: 2px;
	--border-2: 4px;
	--border-3: 6px;

    --border-radius-outline: 6px;
	--border-radius: 4px;

    --border-color: var(--black) ;

    /* CONTENT */
    --content-padding: var(--padding-2);

    /* BITES */
	--bite-width: 600px;
    --bite-height: 400px;

    /*  */
	--input-height: 50px;
	--input-height-tall: 170px;
	--input-height-max: 500px;
	--input-padding: 10px;
}